.yasin{
    border:5px solid rgb(233, 109, 109);
    margin:50px;
}
.amena{
    border:3px solid black;

}
.anik{
    border:3px solid black;
    color:white;
    padding:10px;

}
h1{
   text-align:center;
   color:cadetblue;

}
body{
    background-image:url("bg-photo.jpg");
    background-size:cover;
    height:205vh;
    background-repeat:no-repeat;
}
.younus{
    color:white;
}
h1:hover{
    color:red;
}
#onu1:hover{
    color:red;
}
#onu2:hover{
    color:red;
}
#onu3:hover{
    color:red;
}
#onu4:hover{
    color:red;
}
#onu5:hover{
    color:red;
}
#onu6:hover{
    color:red;
}
#onu7:hover{
    color:red;
}
#onu8:hover{
    color:red;
}
#onu9:hover{
    color:red;
}
#onu10:hover{
    color:red;
}
#onu11:hover{
    color:red;
}
#onu12:hover{
    color:red;
}
#onu13:hover{
    color:red;
}
#onu14:hover{
    color:red;
}
#onu15:hover{
    color:red;
}
#onu16:hover{
    color:red;
}
#onu17:hover{
    color:red;
}
#onu18:hover{
    color:red;
}
#onu19:hover{
    color:red;
}
#onu20:hover{
    color:red;
}
#onu21:hover{
    color:red;
}
#onu22:hover{
    color:red;
}
#onu23:hover{
    color:red;
}
#onu24:hover{
    color:red;
}
#onu25:hover{
    color:red;
}
#onu26:hover{
    color:red;
}
#onu27:hover{
    color:red;
}
#onu28:hover{
    color:red;
}
#onu29:hover{
    color:red;
}
#onu30:hover{
    color:red;
}
#onu31:hover{
    color:red;
}
#onu32:hover{
    color:red;
}
#onu33:hover{
    color:red;
}
#onu34:hover{
    color:red;
}
#onu35:hover{
    color:red;
}
#onu36:hover{
    color:red;
}
#onu37:hover{
    color:red;
}
#onu38:hover{
    color:red;
}
#onu39:hover{
    color:red;
}
#onu40:hover{
    color:red;
}
#onu41:hover{
    color:red;
}
#onu42:hover{
    color:red;
}
#onu43:hover{
    color:red;
}
#onu44:hover{
    color:red;
}
#onu45:hover{
    color:red;
}
#onu46:hover{
    color:red;
}
#onua:hover{
    color:red;
}
#onub:hover{
    color:red;
}
#onuc:hover{
    color:red;
}
#onud:hover{
    color:red;
}
#onue:hover{
    color:red;
}
#onuf:hover{
    color:red;
}
#onug:hover{
    color:red;
}
#onuh:hover{
    color:red;
}
#onui:hover{
    color:red;
}
#onuj:hover{
    color:red;
}
#onuk:hover{
    color:red;
}
#onul:hover{
    color:red;
}
#onum:hover{
    color:red;
}
#onun:hover{
    color:red;
}
#onuo:hover{
    color:red;
}
#onup:hover{
    color:red;
}
#onuq:hover{
    color:red;
}
#onur:hover{
    color:red;
}
#onus:hover{
    color:red;
}
#onut:hover{
    color:red;
}
#onuu:hover{
    color:red;
}
#onuv:hover{
    color:red;
}
#onuw:hover{
    color:red;
}
#onux:hover{
    color:red;
}
#onuy:hover{
    color:red;
}
#onuz:hover{
    color:red;
}
#onuaa:hover{
    color:red;
}
#onubb:hover{
    color:red;
}
#onucc:hover{
    color:red;
}
#onudd:hover{
    color:red;
}
#onuee:hover{
    color:red;
}
#onuff:hover{
    color:red;
}
#onugg:hover{
    color:red;
}
#onuhh:hover{
    color:red;
}
#onuii:hover{
    color:red;
}
#onujj:hover{
    color:red;
}
#onuakk:hover{
    color:red;
}
#onull:hover{
    color:red;
}
#onumm:hover{
    color:red;
}
#onuann:hover{
    color:red;
}
#onuoo:hover{
    color:red;
}
#onupp:hover{
    color:red;
}
#onuqq:hover{
    color:red;
}
#onurr:hover{
    color:red;
}
#onuss:hover{
    color:red;
}
#onutt:hover{
    color:red;
}
#onuuu:hover{
    color:red;
}
#onuvv:hover{
    color:red;
}
#onuww:hover{
    color:red;
}
#onuxx:hover{
    color:red;
}
#onuyy:hover{
    color:red;
}
#onuzz:hover{
    color:red;
}
#onuaaa:hover{
    color:red;
}
#onubbb:hover{
    color:red;
}
#onuccc:hover{
    color:red;
}
#onuddd:hover{
    color:red;
}
#onuaeee:hover{
    color:red;
}
#onufff:hover{
    color:red;
}
#onuggg:hover{
    color:red;
}
#onuhhh:hover{
    color:red;
}
#onuiii:hover{
    color:red;
}
#onujjj:hover{
    color:red;
}
#onukkk:hover{
    color:red;
}
#onulll:hover{
    color:red;
}
#onummm:hover{
    color:red;
}
#onunnn:hover{
    color:red;
}
#onuooo:hover{
    color:red;
}
#onuppp:hover{
    color:red;
}
#onuqqq:hover{
    color:red;
}
#onurrr:hover{
    color:red;
}
#onusss:hover{
    color:red;
}
#onuttt:hover{
    color:red;
}
#onuuuu:hover{
    color:red;
}
#onuvvv:hover{
    color:red;
}
#onuwww:hover{
    color:red;
}
#onuxxx:hover{
    color:red;
}
#onuyyy:hover{
    color:red;
}
#onuzzz:hover{
    color:red;
}
#xyz1:hover{
    color:red;
}
#xyz2:hover{
    color:red;
}
#xyz3:hover{
    color:red;
}
#xyz4:hover{
    color:red;
}
#xyz5:hover{
    color:red;
}
#xyz6:hover{
    color:red;
}



